.upload-window
  width: 100%
  height: 100%
  overflow: auto

.form-warpper
  float: left
  width: 50%
  height: 100%
  padding: 2%
  box-sizing: border-box;
  
  .error
    margin-top: -20px
    background: yellow
    padding: .5em
    display: inline-block
    font-size: .9em
    margin-bottom: 20px

.map-warpper
  float: right
  width: 50%
  height: 80%
  border-radius: 25px
  overflow: hidden;
  box-sizing: border-box




.cta
  background: #7700FF
  border: none
  color: white
  text-transform: uppercase
  border-radius: 4px
  padding: 1em
  cursor: pointer
  font-family: 'Montserrat'

.results
  margin-top: 50px
  
  strong
    display: block
  
  span
    margin-bottom: 20px
    display: block

.form-container
  display: flex
  flex-direction: column
.form-container > *
  width: 100%

.dropzone
  height: 200px
  min-width: 400px
  display: table
  width: 100%
  background-color: #eee
  border: dashed 1px #aaa
  border-radius: 1em

.text-wrapper
  display: table-cell
  vertical-align: middle

.centered
  font-family: sans-serif
  font-size: 1.3em
  font-weight: bold
  text-align: center

agm-map
  height: 100%

