.profile-window
  width: 100%
  height: 100%
  overflow: auto

.info-warpper
  float: left
  width: 50%
  height: 100%
  padding: 2%
  box-sizing: border-box;
  
  .error
    margin-top: -20px
    background: yellow
    padding: .5em
    display: inline-block
    font-size: .9em
    margin-bottom: 20px

  img
    width: 50%
    margin-left: auto
    margin-right: auto
    display: block

.map-warpper
  float: right
  width: 50%
  height: 80%
  border-radius: 25px
  overflow: hidden;
  box-sizing: border-box

agm-map
  height: 100%

